@font-face {
  font-family: 'Oxygen-Regular';
  src: url('./fonts/Oxygen/Oxygen-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Oxygen-Light';
  src: url('./fonts/Oxygen/Oxygen-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Oxygen-Bold';
  src: url('./fonts/Oxygen/Oxygen-Bold.ttf') format('truetype');
}

.oxygen-light {
  font-family: 'Oxygen-Light', sans-serif;
  font-style: normal;
}

.oxygen-regular {
  font-family: 'Oxygen-Regular', sans-serif;
  font-style: normal;
}

.oxygen-bold {
  font-family: 'Oxygen-Bold', sans-serif;
  font-style: normal;
}

/*
.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px lightgray;

  height: 7.5em;
  align-content: center;

  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 2px 2px 2px gray;
}

.planetInfo {
  display: block;
  font-size: medium;
  text-align: center;
}

.planetName {
  font-weight: bold;
}

.exotic {
  background-color: lightgray;
}

.extreme,
.aggressive {
  background-color: lightcoral;
  color: darkred;
}

.infested {
  background-color: lightgreen;
  color: darkgreen;
}

.extreme.infested {
  background-image: linear-gradient(to right, lightcoral 50%, lightgreen 50%);
  color: darkred;
}

.corrupt {
  color: darkblue;
  background-color: lightblue;
}

*/
